In [1]:
#importing all dependencies needed
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#using the create_engine function to connect to our local DataBase. 
rds_connection_string = "root:Akop1234@localhost/twitch_db"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [3]:
#Checking for tables in DataBase
engine.table_names()

['ninja', 'shroud', 'tfue']

In [4]:
#Importing first CSV File -- this one is for our imported data for the
#Ninja Twitch user Follower Count
csv_file = "/Users/lilitakopyan/USC/ETLProject/ninja_follower_count.csv"
ninja_df = pd.read_csv(csv_file)

#While extracting the necessary data from the API, a column that isn't
#needed is pulled into the CSV file, below we are simply defining 
#the necessary columns
ninja_df = ninja_df[["time", "follower_count"]]

#Because the data is exported into a CSV, the DateTime format is not
#accepted by SQL. Below we are converting the DataType for that column
#to one that SQL will be able to process and load
ninja_df['time'] = ninja_df['time'].apply(pd.to_datetime)

#Importing the data to SQL.
ninja_df.to_sql(name='ninja', con=engine, if_exists='append', index=False)

#Final Table visible via SQL. (checking our work)
pd.read_sql_query('select * from ninja', con=engine).head()

   id                time  follower_count
0   1 2019-03-03 08:07:00        13550404
1   2 2019-03-03 09:07:00        13552825
2   3 2019-03-03 10:07:00        13554973
3   4 2019-03-03 11:07:00        13557388
4   5 2019-03-03 12:07:00        13559748

In [5]:
#Repeating above steps for the next CSV File -- Shroud
shroud_csv_file = "/Users/lilitakopyan/USC/ETLProject/shroud_follower_count.csv"
shroud_df = pd.read_csv(shroud_csv_file)
shroud_df = shroud_df[["time", "follower_count"]]
shroud_df['time'] = ninja_df['time'].apply(pd.to_datetime)

shroud_df.to_sql(name='shroud', con=engine, if_exists='append', index=False)
pd.read_sql_query('select * from shroud', con=engine).head()

   id                time  follower_count
0   1 2019-03-03 08:07:00         5852754
1   2 2019-03-03 09:07:00         5853030
2   3 2019-03-03 10:07:00         5853319
3   4 2019-03-03 11:07:00         5853636
4   5 2019-03-03 12:07:00         5853973

In [6]:
#Repeating above steps for the last CSV File -- TFue
tfue_csv_file = "/Users/lilitakopyan/USC/ETLProject/Tfue_follower_count.csv"
tfue_df = pd.read_csv(tfue_csv_file)
tfue_df = tfue_df[["time", "follower_count"]]
tfue_df['time'] = tfue_df['time'].apply(pd.to_datetime)

tfue_df.to_sql(name='tfue', con=engine, if_exists='append', index=False)
pd.read_sql_query('select * from tfue', con=engine).head()

   id                time  follower_count
0   1 2019-03-03 08:07:00         5114896
1   2 2019-03-03 09:07:00         5115174
2   3 2019-03-03 10:07:00         5115411
3   4 2019-03-03 11:07:00         5115741
4   5 2019-03-03 12:07:00         5116029