In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "/Users/lilitakopyan/USC/ETLProject/ninja_follower_count.csv"
ninja_df = pd.read_csv(csv_file)
ninja_df = ninja_df[["time", "follower_count"]]
ninja_df['time'] = ninja_df['time'].apply(pd.to_datetime)

ninja_df.head()

                 time  follower_count
0 2019-03-03 08:07:00        13550404
1 2019-03-03 09:07:00        13552825
2 2019-03-03 10:07:00        13554973
3 2019-03-03 11:07:00        13557388
4 2019-03-03 12:07:00        13559748

In [3]:
rds_connection_string = "root:Akop1234@localhost/twitch_db"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [4]:
engine.table_names()

['ninja', 'shroud', 'tfue']

In [5]:
ninja_df.to_sql(name='ninja', con=engine, if_exists='append', index=False)

In [6]:
pd.read_sql_query('select * from ninja', con=engine).head()

   id                time  follower_count
0   1 2019-03-03 08:07:00        13550404
1   2 2019-03-03 09:07:00        13552825
2   3 2019-03-03 10:07:00        13554973
3   4 2019-03-03 11:07:00        13557388
4   5 2019-03-03 12:07:00        13559748

In [9]:
shroud_csv_file = "/Users/lilitakopyan/USC/ETLProject/shroud_follower_count.csv"
shroud_df = pd.read_csv(shroud_csv_file)
shroud_df = shroud_df[["time", "follower_count"]]
shroud_df['time'] = ninja_df['time'].apply(pd.to_datetime)

shroud_df.to_sql(name='shroud', con=engine, if_exists='append', index=False)
pd.read_sql_query('select * from shroud', con=engine).head()

   id                time  follower_count
0   1 2019-03-03 08:07:00         5852754
1   2 2019-03-03 09:07:00         5853030
2   3 2019-03-03 10:07:00         5853319
3   4 2019-03-03 11:07:00         5853636
4   5 2019-03-03 12:07:00         5853973

In [11]:
tfue_csv_file = "/Users/lilitakopyan/USC/ETLProject/Tfue_follower_count.csv"
tfue_df = pd.read_csv(tfue_csv_file)
tfue_df = tfue_df[["time", "follower_count"]]
tfue_df['time'] = tfue_df['time'].apply(pd.to_datetime)

tfue_df.to_sql(name='tfue', con=engine, if_exists='append', index=False)
pd.read_sql_query('select * from tfue', con=engine).head()

                 time  follower_count
0 2019-03-03 08:07:00         5114896
1 2019-03-03 09:07:00         5115174
2 2019-03-03 10:07:00         5115411
3 2019-03-03 11:07:00         5115741
4 2019-03-03 12:07:00         5116029